# Dynamically copied specifications and indices
reference/*.md
!reference/_index.md
!reference/compliance-format.md

# Dynamically copied Architecture Decision Records and Software Architecture Documents
architecture/*.md
!architecture/_index.md
